<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Объявления</title>
</head>
<body>
    <table border="0" class="m10 table-missile table table-hover">
        <th:block th:each="advert : ${advertList}" th:object="${advert}">
        <tr>
            <td th:text="*{author.fio}">...</td>
            <td th:text="*{title}">...</td>
        </tr>
        <tr>
            <td></td>
            <td th:text="*{text}">...</td>
        </tr>
        </th:block>
    </table>
</body>
</html>